@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@font-face {
    font-family: 'Samarkan';
    src: url('Fonts/SAMARN__.TTF') format('truetype');
}
@font-face {
    font-family: 'Centauri';
    src: url('Fonts/Centauri.ttf') format('truetype');
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-seriff;
}

.header {
    height: 20px;
    width: 100%;
    top: 0;
}
.head-bg {
    height: 50px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.header-content .logo {
    height: 50px;
    position: absolute;
    top: 0;
    left: 15px;
}
.header-content h1 {
    position: absolute;
    top: 5px;
    font-size: 15px;
    color: whitesmoke;
    text-align: center;
    left: 10%;
    line-height: 3;
    font-family: 'Centauri';
    letter-spacing: 3px;
}
.nav-left .g20 {
    height: 55px;
    position: absolute;
    top: 60px;
    left: 20px;
}
.nav-center {
    line-height: 8;
}
.nav-center a {
    text-decoration: none;
    color: #fff;
    margin-right: 60px;
    position: relative;
    left: 250px;
    font-weight: 700;
    cursor: pointer;
    z-index: 99;
}
.nav-right img {
    height: 60px;
    position: absolute;
    right: 25px;
    top: 60px;
}
.hero {
    position: absolute;
    border-radius: 10px;
    height: 300px;
    top: 240px;
    left: 80px;
    text-align: left;
    line-height: 30px;
    filter: drop-shadow(10px 10px 25px black);
    background-color: transparent;
    letter-spacing: 1px;
    padding-left: 5px;
}
.btnn {
    border: 1px solid#3498db;
    background: none;
    padding: 10px 10px;
    font-size: 20px;
    font-family: "montserrat";
    color: black;
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.btn2 {
    color: #3498db;
}
.btn2:hover {
    color: #fff;
}
.btnn:before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #3498db;
    z-index: -1;
    transition: 0.8s;
}
.btn2::before {
    bottom: 0;
}
.btn2:hover::before {
    height: 100%;
}

.know {
    position: relative;
    left: 22%;
    width: 130px;
    transition: 0.5s ease;
}

.hero-right {
    position: absolute;
    top: 240px;
    right: 100px;
    filter: drop-shadow(10px 10px 25px black);
}
.chand1 {
    font-family: 'Samarkan', sans-serif;
    font-size: 20px;
    color: #000;
    font-weight: 500;
    position: relative;
    left: 120px;
}
.chand2 {
    font-family: 'Samarkan', sans-serif;
    font-size: 20px;
    color: #000;
    font-weight: 500;
    position: relative;
    left: 30px;
}
.chand {
    font-family: 'Samarkan', sans-serif;
    font-size: 20px;
    color: #000;
    font-weight: 500;
    position: relative;
}
.card-text .chand {
    transition: 0.5s ease;
    cursor: pointer;
}
.card-text .chand:hover {
    color: #bc9301;
}

.final {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 50px;
}

.img2{
    background-image: url(Images/mars-final.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 730px;
}
.mangal-des {
    position: absolute;
    right: 200px;
    top: 200px;
    color: white;
    filter: drop-shadow(10px 10px 25px black);
}
.mars {
    font-family: 'Samarkan', sans-serif;
    font-size: 25px;
}
.img3 {
    background-image: url(Images/5.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 1420px;
    opacity: 95%;
}
.mangal-dess {
    position: absolute;
    right: 100px;
    top: 100px;
    color: white;
    filter: drop-shadow(10px 10px 25px black);
}
.btn3 {
    color: black;
    border: 1px solid black;
}

footer {
    background-color: #040413;
    padding: 50px 0;
    text-align: center;
    font-family: Arial, sans-serif;
    position: absolute;
    top: 2115px;
    width: 100%;
    overflow: hidden;
}
  
  
.footer-container {
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}
  
.footer-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
  
.footer-column {
    width: 25%;
    padding: 0 20px;
    margin-bottom: 40px;
}  
  
h4 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
}
  
ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
}
  
li {
    margin-bottom: 8px;
}
  
a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}
  
a:hover {
    color: #ff9800;
}
  
footer {
    background-color: #333;
    background-position: center;
    background-size: cover;
    color: #fff;
    background-repeat: no-repeat;

}
  
.footer-container {
    position: relative;
    z-index: 1;
}
  
h4 {
    position: relative;
    z-index: 2;
}
  
ul li {
    position: relative;
    list-style: none;
    padding-left: 15px;
}
